<style>
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: rgb(48, 120, 205);
}
.margin25 {
  padding-left: 25px;
}
table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
  padding: 0 56px 0 0;
  padding-left: 25px;
}
table.md-table .md-row:hover {
  -webkit-box-shadow: -1px 2px 32px 9px rgba(209,209,209,1);
  -moz-box-shadow: -1px 2px 32px 9px rgba(209,209,209,1);
  box-shadow: -1px 2px 32px 9px rgba(209,209,209,1);
}
body:before {
    background-color: white!important;
}
p {
  margin: 0px;
  margin-left: 4%;
  font-size: 12px;
}
.marl {
  margin-left:12%;
}
.al-content {
  padding: 0px 20px 0px 30px;
}

</style>
<div class="row">

  <md-content laout="column" flex style="overflow-x:hidden" >
    
      <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show| orderBy: query.order">
        <div class="md-toolbar-tools">
            <span>Completed</span>
            <button class="btn btn-secondary gothicFamily md-button md-ink-ripple" ng-click="exportTableToCSV('download.csv')">Export CSV</button>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="filter.show = true">
            <md-icon style="color: #757575;">search</md-icon>
        </md-button>
        </div>     
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length" aria-hidden="false" >
        <span class="md-toolbar-tools">
            <md-icon style="color: #757575;">search</md-icon>
            <form flex="" name="filter.form" >
                <input style="border: none; border-bottom: 1px solid;" type="text" ng-model="query.filter" 
                ng-model-options="filter.options" placeholder="Search">
                <!-- <input style="border: none; border-bottom: 1px solid;" type="text" ng-model="query.requestType" 
                placeholder="id"  > -->
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
                <md-icon style="color: #757575;">close</md-icon>
            </md-button>
        </span>
    </md-toolbar>

    <md-table-container>

        <md-table-pagination md-limit="viewby" md-limit-options="limitOptions" 
            md-page="currentPage" 
            md-total="{{totalItems}}" 
            md-page-select="options.pageSelect" 
            md-boundary-links="true" 
            md-on-paginate="pageChanged">
        </md-table-pagination>

        <table id="completed" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr class="gothicFamily" md-row>
                    <th md-column  md-order-by="driver_id" md-desc><span>Driver ID</span></th>
                    <th md-column md-numeric  ><span>Profile Pic</span></th>
                    <th style="padding:0px;" md-column md-order-by="driver_name" ><span class="">Name</span></th>
                    <th style="padding:0px;" md-column md-order-by="driver_email" ><span class="">Email</span></th>
                    <th style="padding:0px;" md-column md-order-by="driver_mobile" ><span class="">Mobile</span></th>
                    <th md-column md-numeric md-order-by="car_name"><span>Car Type</span></th>
                    <th md-column md-numeric md-order-by="accept_time"><span>Accept Time</span></th>
                    <th md-column md-numeric md-order-by="drop_time"><span>Drop Time</span></th>
                    <th md-column md-numeric md-order-by="discount"><span>Discount</span></th>
                    <th md-column md-numeric md-order-by="user_rating"><span>User Rating</span></th>
                    <th md-column md-numeric md-order-by="user_name"><span>Passenger name</span></th>
                </tr>
            </thead>

            <tbody md-body style="background-color:white">
                <tr class="gothicFamily" md-row md-select="driver" md-on-select="logItem" md-auto-select="options.autoSelect"
                ng-repeat="driver in desserts.data | filter: filter.search | orderBy: query.order">
                <td md-cell>{{driver.driver_id}}</td>
                <td md-cell style="padding-right: 10px;">
                    <img class="img-circle img-thumbnail" height="60px" width="60px" 
                    ng-src="{{driver.driver_image}}">
                </td>
                <td class="margin25" md-cell>
                    {{driver.driver_name}}
                    <!-- <span class="cust_pad">
                        <b>Name</b> -{{driver.driver_name}}<br>
                        <b>Email</b> - {{driver.driver_email}}<br>
                        <b>Contact</b> - {{driver.driver_mobile}}
                    </span> -->
                </td>
                <td style="text-align: center;" md-cell>{{driver.driver_email}}</td>
                <td style="text-align: center;" md-cell>{{driver.driver_mobile}}</td>    
                <td style="text-align: center;" md-cell>{{driver.car_name}}</td>
                <td style="text-align: center;" md-cell>{{driver.accept_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="text-align: center;" md-cell>{{driver.drop_time | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="text-align: center;" md-cell>{{driver.discount}}</td>
                <td style="text-align: center;" md-cell>{{driver.user_rating}}</td>
                <td ng-if="driver.corporate_request" style="text-align: center;" md-cell>
                    {{driver.user_name}}<br>
                    {{driver.customer_name}}<br>
                    {{driver.customer_number}}
                </td>
                <td ng-if="!driver.corporate_request" style="text-align: center;" md-cell>
                    {{driver.user_name}}
                </td>   
                </tr>
            </tbody>
        </table>

    </md-table-container>

    <div id="whirl" ng-if="isLoading" class="whirl"></div>

  </md-content>

</div>