a:hover, button:hover, a:focus, button:focus, a:active, button:active {
    outline: 0;
    text-transform: none
}
table{width: 100%}
#phoneLabel {
    order: 0;
    margin-left: 55px
}

.yesNo {
    width: 40%;
    float: right;
    display: inline-flex
}
.viewPic{
  cursor:pointer;width:150px;height:150px;margin:auto;margin-bottom:20px
}
.viewPic img ,.viewPicTable img, .viewPicDetails img{
  width:100%;height:100%;margin:auto;
}
.viewPicTable{
  cursor:pointer;width:100px;height:100px;margin:auto;
}
.viewPicDetails{
  cursor:pointer;
  /*float: left;max-width:100%;width:auto;max-height:200px;display:block;*/
}
.imageText {
    width: calc(100% - 35px)
}
*:focus{
  outline: none;
}
md-input-container {
    height: 91px
}
.uib-datepicker-popup.dropdown-menu{
      padding: 5px;
}
.uib-left,.uib-right,.uib-title{
  color: white!important;
}
.uib-datepicker-popup.dropdown-menu .btn:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
.fileUploadAdd {
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 15px;
    padding: 5px !important;
    vertical-align: bottom;
    margin-top: 34px;
    text-align: center;
    display: block
}

.fileUploadAdd input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}

.fileName {
    font-size: 11px;
    color: gray;
    height: 15px;
    margin: 2px 0;
    clear: both;
    text-align: right
}

.tlc_name, .dmv_name, .tlc_name_mob {
    margin-top: -20px
}

.tlc_name_mob {
    display: none
}

md-input-container.md-icon-float > label {
    margin-left: 0
}

.md-select-label :first-child {
    color: rgba(0, 0, 0, 0.26);
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700
}

.formRight label, .formLeft label {
    color: rgba(0, 0, 0, 0.26)
}

.checkLabel {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.26);
    font-size: 14px
}

.formSubmit {
    width: 30%;
    height: 5rem;
    margin: 50px 35% 1rem;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 100px;
    background-color: #24bfe5;
    border: 1px solid #24bfe5;
    color: #fff
}

.btn-info {
    background-color: #24bfe5 !important;
    border-color: #46b8da !important
}

.al-main {
    background: rgba(0, 0, 0, 0.7)
}

.al-breadcrumb, h1.al-title {
    color: #e1e1e1
}

.pie-charts .description {
    font-size: 1.5rem;
    padding-top: 0 !important;
    padding-left: 30px !important
}

.pie-charts .description .description-stats {
    font-size: 1.8rem;
    padding-bottom: 10px;
    padding-top: 5px
}

.pie-chart-item-container label {
    color: #e1e1e1;
    font-size: 2rem;
    margin-bottom: 15px
}

.back-top {
    font-size: 45px !important
}

#pac-input, #pac-input-customer {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 30%;
    color: #000
}

.search-input {
    z-index: 10000;
    position: absolute;
    left: 113px;
    top: 0
}

#show-arrow {
    position: relative;
    margin-top: -600px;
    z-index: 10000;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6)
}

#geo-draw {
    margin-left: 46.1%
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 21px 21px 21px 21px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
}

#map-info {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 99;
    background: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 7px;
    font-size: 10px
}

#map-info span {
    padding-left: 10px;
    font-size: 12px
}

#map-div-content {
    position: relative
}

.online {
    color: #27c24c
}

.offline {
    color: #808080
}

.offmode {
    color: #000
}

.online-free {
    color: green
}

.busy {
    color: #f05050
}

#pac-input:focus {
    border-color: #4d90fe
}

.pac-container {
    font-family: Roboto;
    z-index: 9999999
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    background-color: #fff !important;
    border-radius: 4px !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important
}

.al-sidebar-sublist > li a {
    padding-left: 30px
}

a.al-sidebar-list-link b {
    top: 15px
}

.buttonWa {
    margin: 15px
}

.amcharts-chart-div > a {
    display: none !important
}

.label-inverse {
    background-color: #131e26
}

.al-sidebar-list-item.selected:not(.with-sub-menu) {
    background-color: #979797
}

a.al-logo span, a.collapse-menu-link:hover {
    text-decoration: none;
    color: #979797
}

.licenseImages {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    margin: auto
}

.dataTables_length {
    width: 40%;
    float: left;
    height: 50px;
    padding: 10px
}

.dataTables_filter {
    width: 60%;
    float: right;
    height: 50px;
    padding: 10px
}

.dataTables_length label {
    font-weight: 400;
    font-size: 15px
}

.dataTables_filter label {
    float: right;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    display: block;
    text-align: right
}

.dataTables_paginate {
    padding: 10px;
    text-align: center;
    display: none;
}

.paginate_button {
    margin: 5px;
    cursor: pointer
}

.dataTables_info {
    margin: 10px 0
}

#portfolio {
    margin: 0 auto;
    font-size: 0;
    width: 261px
}

.panel.medium-panel {
    min-height: 200px;
    height: auto
}

.portfolio a {
    margin: 0;
    border: 4px solid transparent;
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: .9;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.portfolio a:hover {
    border-color: transparent;
    opacity: 1
}

.portfolio img {
    -webkit-border-radius: 6px;
    border-radius: 100px;
    border: 4px solid #302c2b;
    height: 200px;
    width: 200px
}

.form-control[disabled] {
    background-color: #eee !important
}

.AlertLabel {
    width: 100%;
    margin: 10px
}

.specificUsers {
    margin-top: 15px
}

.checkbox input[type=checkbox] {
    margin-top: 1px !important
}

.nav.nav-tabs {
    background-color: #505050
}

.nav.nav-tabs > li > a:hover {
    background-color: #000
}

thead {
    background-color: #505050;
    color: white
}

thead tr th {
    width: 95px;
    padding: 0 10px;
    border: 1px solid #979797
}

tbody tr td {
    padding: 10px;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797
}

.table-striped > tbody > tr > td {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important
}

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 28px;
    font-size: 15px;
    padding: 0;
    vertical-align: bottom;
    margin-top: 10px;
    text-align: center
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0)
}

.al-sidebar-list-item.ba-sidebar-item-expanded > .al-sidebar-sublist, .ba-sidebar-sublist-item.ba-sidebar-item-expanded > .al-sidebar-sublist {
    background-color: #505050
}

.forgotDiv {
    display: none
}

.logo-div {
    width: 25% !important;
    display: block;
    margin-left: 37.5%
}

.flag-container {
    border-bottom: 1px solid #e1e1e1
}

md-radio-button .md-off, md-radio-button .md-on {
    border-radius: 0 !important;
    border: solid 1px #ddd !important
}

md-radio-button.md-default-theme:not([disabled]).md-primary .md-on {
    background-color: #1f8dc6
}
.pagination{
  margin: 0 0 20px!important;
}
ba-panel{
  padding-top: 30px;
}
.panel{
  background: url(../assets/img/greyBlur.jpg) fixed;
  -webkit-transition: none;
  transition: none;
}
.table>tbody>tr>td,.panel,.panel-title{
  color: white;
}
button, input, optgroup, select, textarea{
  color: #666;
}
.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .profileFormLabelLeft{
    float: left;
    text-align: left;
  }
  .profileFormLabelRight{
    float: right;
    text-align: right;
  }
