<div class="row">
  <div class="col-md-12">
    <button ng-click="AddCorporateDialog()" class="btn btn-mixColor pull-right head_button">Add Corporate Account</button>
    <div style="padding-top:50px" ba-panel ba-panel-title="List of All Corporate Accounts in the System" ba-panel-class="with-scroll" ng-if="corporateList.length>0">
      <div class="horizontal-scroll" >
        <div class="form-group select-page-size-wrap ">
          <label>Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="pageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
          </label>
        </div>
        <table class="table" st-table="smartDataTable">
          <thead>
          <tr class="sortable ">
            <th class="table-id" st-sort="id" st-sort-default="true">S.No</th>
            <th st-sort="customer_id">User Id</th>
            <th st-sort="user_name">Customer Name</th>
            <th st-sort="total_rides_as_user">Email</th>
            <th st-sort="verification_token">Active Members</th>
            <th st-sort="rating">Phone No</th>
            <th st-sort="rating">Account Name</th>
            <th st-sort="rating">Account Address</th>
            <th st-sort="rating">PO Number</th>
            <th st-sort="rating">Total Amount</th>
            <th st-sort="rating">Amount Left</th>
            <th st-sort="rating">Send Invoice</th>
            <th>Actions</th>
          </tr>
          <!-- <tr>
             <th></th>
             <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input"
                        type="search"/></th>
             <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input"
                        type="search"/></th>
             <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input"
                        type="search"/></th>
             <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
             </th>
             <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
             </th>
           </tr>-->
          </thead>
          <tbody>
          <tr  ng-repeat="data in corporateList">
            <td class="table-id">{{$index + 1}}</td>
            <td>{{data.user_id}}</td>
            <td>{{data.user_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.active_members}}</td>
            <td>{{data.phone_no}}</td>
            <td>{{data.account_name}}</td>
            <td>{{data.contact_address}}</td>
            <td>{{data.po_number}}</td>
            <td>{{data.total_money}}</td>
            <td>{{data.money_left}}</td>
            <td>
              <a class="btn btn-sm btn-default1" ng-href ="#{{data.invoice_list_url}}"
                 title="View Engagements">
                <i class="fa fa-eye pencil-icon"></i>
              </a>
              <!-- data.is_blocked =0 means driver is unblock do it block -->
              <a class="btn btn-sm btn-default1" title="block" ng-hide="data.isblock" ng-click="blockunblockdriver_popup(1,data.user_id)">
                <i class="fa fa-unlock unblock-icon"></i>
              </a>
              <a class="btn btn-sm btn-default1" title="unblock" ng-show="data.isblock" ng-click="blockunblockdriver_popup(0,data.user_id)">
                <i class="fa fa-lock block-icon"></i>
              </a>
              <a class="btn btn-sm btn-default1" ng-click="deletecorp_dialog(data.user_id)"
                 title="Delete">
                <i class="fa fa-trash-o block-icon"></i>
              </a>
            </td>
          </tr>
          </tbody>
          <!--<tfoot>
          <tr>
            <td colspan="7" class="text-center">
              <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
            </td>
          </tr>
          </tfoot>-->
        </table>
      </div>
    </div>
    <img src="" ng-if="corporateList.length==0">
  </div>

  <script type="text/ng-template" id="modalDialogId">
    <div class="ngdialog-message">
      <h3>Add Corporate Account</h3>
      <div class="panel panel-default">
        <form method="post" name="myForm" validate-form="" novalidate=""  ng-submit="myForm.$valid && submit(addcorporateAdmin)">
          <!--<form method="post" ng-submit="myForm.$valid && submit(addcorporateAdmin); hideError = true;" novalidate name="myForm">-->
          <div ng-show="addcorporateAdmin.successMsg" class="alert alert-success text-center">{{addcorporateAdmin.successMsg}}</div>
          <div ng-show="addcorporateAdmin.errorMsg" class="alert alert-danger text-center">{{addcorporateAdmin.errorMsg}}</div>
          <div class="panel-body">
            <div class="panel panel-theme">
              <div class="panel-heading">Corporate Account Contact</div>
            </div>
            <div class="form-group">
              Name <span class="astrick">*</span>
              <input type="text" name="corporate_name" class="form-control"  required="required"  ng-model="addcorporateAdmin.name"
                     placeholder='Name' onkeydown="return alphaOnly(event)"/>

            </div>
            <div class="form-group">
              Email Id <span class="astrick">*</span>
              <input type="email" name="corporate_email" class="form-control"  data-parsley-type="email" required="required"  ng-model="addcorporateAdmin.email"
                     placeholder='Email'/>
            </div>

            <div class="form-group">
              Phone Number <span class="astrick">*</span>
              <div style="float: left;background: rgb(238,241,242);padding:5px;">+</div>
              <input type="text" name="corporate_phn_no" class="form-control"  required="required"  ng-model="addcorporateAdmin.phone_no" data-parsley-type="digits"
                     style="float: right;width: 91%;margin-bottom: 15px;"    placeholder='Enter your contact number with country code ' data-parsley-maxlength="15" maxlength="15" data-parsley-minlength="10" onkeypress="javascript:return check_number(event)"/>

            </div>
            <div style="clear:both"></div>
            <div class="panel panel-theme">
              <div class="panel-heading">Account Details</div>
            </div>
            <div class="form-group">
              Account Name <span class="astrick">*</span>
              <input type="text" name="account_name" class="form-control"  required="required"  ng-model="addcorporateAdmin.account_name"
                     placeholder='Account Name ' onkeydown="return alphaOnly(event)"/>

            </div>

            <div class="form-group">
              Account Address <span class="astrick">*</span>
              <input type="text" name="contact_address" class="form-control"  required="required"  ng-model="addcorporateAdmin.contact_address"
                     placeholder='Account Address '/>

            </div>
            <div class="form-group">
              PO Number <span class="astrick">*</span>
              <input type="text" name="po_number" class="form-control"  required="required"  ng-model="addcorporateAdmin.po_number"
                     placeholder='PO Number' onkeypress="javascript:return check_number(event)"/>

            </div>


          </div>
          <div class="panel-footer btn-align">
            <button type="submit" class="btn btn-mixColor" >Submit</button>
            <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="delete_corp_modalDialog">
    <div class="ngdialog-message">
      <h4>Are you sure you want to delete this Corporate Admin?</h4>
      <div  style="  margin-top: 20px;text-align: right;">
        <form method="post" validate-form="" novalidate=""  >
          <button type="submit" ng-click="deletecorp_admin(delete_corp_id)" class="btn btn-mixColor" >Submit</button>
          <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>Cancel</button>
        </form>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="display_msg_modalDialog">
    <div class="ngdialog-message">
      <h4>{{displaymsg}}</h4>
      <button type="submit" ng-click="$state.reload() && closeThisDialog(0)" class="btn btn-mixColor"
              style="margin-top:20px;float:right;">OK</button>
      <div style="clear: both;"></div>
    </div>
  </script>
  <script type="text/ng-template" id="block_unblock_driver_modalDialog">
    <div class="ngdialog-message">
      <h4>{{blockunblockmsg}}</h4>
      <div >
        <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
          <button type="submit" ng-click="do_block_unblock_driver(is_blocked,blockunblockid)" class="btn btn-mixColor" >Yes</button>
          <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default" style='margin-left:20px;'>No</button>
        </form>
      </div>
    </div>
  </script>

  <script>
    function alphaOnly(event) {
      var key = event.keyCode;
      return ((key >= 65 && key <= 90) || key == 8 || key == 9 ||key ==32);
    };
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    //        specialKeys.push(9); //Tab
    specialKeys.push(46); //Delete
    specialKeys.push(36); //Home
    specialKeys.push(35); //End
    specialKeys.push(37); //Left
    specialKeys.push(39); //Right
    function IsAlphaNumeric(e) {
      var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
      var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));

      return ret;
    }
    function isNumber(evt) {
      var iKeyCode = (evt.which) ? evt.which : evt.keyCode
      if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
        return false;
      return true;
    }
    function check_number(event) {
      if(!(event.charCode>47 && event.charCode<58) && event.charCode && !(event.metaKey || event.ctrlKey))
        event.preventDefault();
    }
  </script>

</div>