<div class="row">
    <div class="col-md-12">
        <h3 style="color: white">
            Total : {{totalItems}}
            <!--Today : {{ridesToday}}-->
        </h3>
        <!--<button ng-click="viewDiv('city')" class="pull-right btn btn-sm btn-info buttonWa">Cities</button>-->
        <!--<button ng-click="viewDiv('drivers')" class="pull-right btn btn-sm btn-info buttonWa">Drivers</button>
        drivers who registered for the appointments
        -->
        <a ng-click="exportData()" style="background: #c0c0c0;color: #505050;" class="pull-right btn btn-sm btn-mixColor">Export To CSV</a>
        <ul uib-pagination ng-if="totalItems!=0" total-items="totalItems" ng-change="pageChanged(currentPage)" items-per-page="itemsPerPage"
            ng-model="currentPage" max-size="maxSize" rotate="true"  class="pagination-sm pull-right" boundary-links="true"></ul>
        <div class="typeahead-demo col-lg-6 pull right">
            <input type="text" ng-model="search" placeholder="Search by name" uib-typeahead="item as item.driver_name for item in totalList | filter:{driver_name:$viewValue} | limitTo:10"
            typeahead-on-select="openSearch($item, $model, $label, $event)" typeahead-loading="loadingSearch" style="color:white" typeahead-no-results="noResults" class="form-control">
            <i ng-show="loadingSearch" class="ion-loop"></i>
            <div ng-show="noResults&&search">
              <i class="ion-android-close"></i> No Results Found
            </div>
          </div>
        <div style="padding-top: 50px" ba-panel ba-panel-title="List of all the pending drivers" ba-panel-class="with-scroll">
            <div class="horizontal-scroll" ng-if="view=='drivers'">
                <table class="table table-striped" id="datatableAppointment" style="width:100%">
                    <thead>
                    <tr>
                        <th class="serialWidth">S.No</th>
                        <th class="datetimewidth">Driver Name</th>
                        <th class="datetimewidth">Email</th>
                        <th class="datetimewidth">Mobile</th>
                        <th class="datetimewidth">State</th>
                        <th class="datetimewidth">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in pendingDrivers track by $index">
                        <!-- {{pendingDrivers}} -->
                        <td class="serialWidth">{{(currentPage-1)*10+$index+1}}</td>
                        <td class="datetimewidth">{{data.first_name}} {{data.last_name}} </td>
                        <td class="datetimewidth">{{data.email}}</td>
                        <td class="datetimewidth">{{data.mobile}}</td>
                        <td class="datetimewidth">{{data.state_name}}</td>
                        <td class="datetimewidth"><button class="btn btn-success" ng-click="viewDetails(data)">View Details</button></td>
                      </tr>
                      </tbody>
                    </table>
            </div>
            <div class="horizontal-scroll" ng-if="view=='city'">
                <div class="row" style="padding: 15px" ng-class="{'whirl duo' : showloader }" ng-if="view=='city'">
                    <input class="form-control col-lg-6" style="width: 50%" placeholder="City Name" ng-model="city_name">
                    <button ng-click="addCity()" class="pull-right btn btn-sm btn-info">Add City</button>
                </div>

                <div class="form-group select-page-size-wrap ">
                    <label>Rows on page
                        <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                ng-model="pageSize" ng-options="i for i in [5,10,15,20,25]">
                        </select>
                    </label>
                </div>
                <table class="table" st-table="smartDataTable">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id" st-sort-default="Id">S.No</th>
                        <th st-sort="user_name">City</th>
                        <th st-sort="customer_id">Venue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="data in cities">
                        <td>{{$index +1}}</td>
                        <td>{{data.city_name}}</td>
                        <td><button ng-click="venues()" class="btn btn-sm btn-info buttonWa">Venues</button></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            <div class="horizontal-scroll" ng-if="view=='venues'">
                <input id="venueAddress" class="form-control col-lg-6" style="width: 50%" placeholder="Venue Name" ng-model="address">
                <input id="venueLat" type="hidden">
                <input id="venueLong" type="hidden">
                <button ng-click="addCity()" class="pull-right btn btn-sm btn-info">Add Venue</button>

                <table class="table" st-table="smartDataTable" ng-if="venuesList.length>0">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id" st-sort-default="Id">S.No</th>
                        <th st-sort="user_name">City</th>
                        <th st-sort="customer_id">Venue</th>
                        <th st-sort="customer_id">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="data in venuesList">
                        <td>{{$index +1}}</td>
                        <td>{{data.city_name}}</td>
                        <td>{{data.address}}</td>
                        <td><button ng-click="deleteVenue(data.venue_id)" class="btn btn-sm btn-info buttonWa">Delete</button></td>                    </tr>
                    </tbody>
                </table>
                <h3 style="text-align: center" ng-if="venuesList.length==0">
                    No Venues Added yet
                </h3>
            </div>

        </div>
    </div>
</div>
