<style>
    .search-right{
        position: absolute;
        top: 0px;
        padding: 0px;
        right: 0px;
        width: 50%;
        background: transparent;
    }
  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(48, 120, 205);
  }
  .margin25{
    padding-left: 25px;
  }
  table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 56px 0 0;
    padding-left: 25px;
  }
  table.md-table .md-row:hover
  {
    -webkit-box-shadow: -1px 2px 32px 9px rgba(209,209,209,1);
    -moz-box-shadow: -1px 2px 32px 9px rgba(209,209,209,1);
    box-shadow: -1px 2px 32px 9px rgba(209,209,209,1);
}
body:before
{
    background-color: white!important;

}
p
{
  margin: 0px;
  margin-left: 4%;
  font-size: 12px;
}
.marl
{
  margin-left:12%;
}
.al-content
{
  padding: 0px 20px 0px 30px;
}
</style>
<div class="row">
      <section style="" class="gothicFamily" layout="row" flex>
          <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" style="position:fixed;top:70px">

            <md-toolbar ng-style="GENERICS.detail_aside_bgColor" class="md-theme-light">
             <span  style="">
                <span class="md-toolbar-tools gothicFamily" style="">
                  <img class="img-circle" style="height:60px;margin-right:4%;width: 60px;" ng-src="{{pic}}">
                  <span class="gothicFamily">{{name}}</span>
                 <span class="dropdown">
                    <md-button class="material-icons dropdown-toggle" style="padding-left:6%;font-size:40px" type="button" data-toggle="dropdown">more_horiz
                    </md-button>
                    <ul class="dropdown-menu gothicFamily" style="">
                      <li><a ng-click="userDetails()">View Profile</a></li>
                      <li><a ng-click="editUser()">Edit Passenger</a></li>
                      <!-- <li><a href="" ng-if="!is_user_blocked" ng-click="blockunblockpassenger_popup(1, user_block_unblock_id)">Block</a></li>
                      <li><a href="" ng-if="is_user_blocked" ng-click="blockunblockpassenger_popup(0, user_block_unblock_id)">UnBlock</a></li> -->

                      <li><a href="" ng-if="!is_user_blocked" ng-click="blockunblockpassenger_popup(1, user_block_unblock_id)">Block</a></li>
                      <li><a href="" ng-if="is_user_blocked" ng-click="blockunblockpassenger_popup(0, user_block_unblock_id)">UnBlock</a></li>
                      <li><a ng-click="deleteUser()">Delete</a></li>
                    </ul>
                  </span>
                </span>
              </span>
            </md-toolbar>

            <div layout-padding ng-style="GENERICS.detail_aside"  style="">
               <p> <i class="material-icons md-light md-18">local_phone</i>
                <span class="marl gothicFamily">{{phone}}</span></p>
              <p>  <i class="material-icons md-light md-18 ">local_post_office</i>
                <span class="marl gothicFamily">{{email}}</span></p>
            </div>
            <div layout-padding class="gothicFamily" ng-style="GENERICS.detail_aside"  style="">
                <div class="text-center gothicFamily">Trip History</div>
               <p> <span class="gothicFamily" style="padding-right:2%"> Total Trips :</span>
                <span class="gothicFamily">{{trips}}</span></p>
               <p><span class="gothicFamily" style="padding-right:2%">Last Login :</span>
                <span class="gothicFamily">{{login | date}}</span> </p>
               <p><span class="gothicFamily">Rating :</span> <span >{{rating}}</span> </p>
             </div>
          </md-sidenav>
        </section>

    <md-content laout="column" flex style="overflow-x:hidden" ng-class="{'whirl' : isLoading }">
        <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length">
          <div class="md-toolbar-tools">
              <span class="gothicFamily">LIST OF ALL PASSENGERS</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.show = true">
              <md-icon style="color: #757575;">search</md-icon>
            </md-button>
          </div>

        </md-toolbar>
        <md-table-pagination ng-if="!isLoading" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="getPassengerList" md-page-select></md-table-pagination>
        <md-toolbar class="md-table-toolbar md-default search-right" ng-show="filter.show && !selected.length" aria-hidden="false" >
          <span class="md-toolbar-tools">
            <md-icon style="color: #757575;">search</md-icon>
            <form flex="" name="filter.form" >
              <input style="border: none; border-bottom: 1px solid;" type="text" ng-model="query.filter"
              ng-model-options="filter.options" placeholder="Search">
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
              <md-icon style="color: #757575;">close</md-icon>
            </md-button>
          </span>
        </md-toolbar>

        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr class="gothicFamily" md-row>
              <th style="text-align: center;" md-column md-order-by="user_id" ><span>Passenger ID</span></th>
              <th style="text-align: center;" md-column md-order-by="user_name" ><span >Passenger Name</span></th>
              <th style="text-align: center;" md-column md-order-by="user_name" ><span >Passenger Email</span></th>
              <th style="text-align: center;" md-column md-order-by="is_blocked" ><span >Blocked Status</span></th>
              <th style="text-align: center;" md-column md-numeric ><span>Actions</span></th>
            </tr>
            </thead>
            <tbody md-body style="background-color:white">
            <tr class="gothicFamily" md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400"
              ng-repeat="dessert in desserts.data | filter: filter.search |orderBy: query.order">
              <td style="text-align: center;" md-desc md-cell>{{dessert.user_id}}</td>
              <td  style="text-align: center;"   md-cell > <a  style="color: black;" ng-click="editDetails(dessert)" >{{dessert.user_name}}</a></td>
              <td  style="text-align: center;" md-cell >
                 <a  style="color: black;" ng-click="editDetails(dessert)" >{{dessert.user_email}}</a>  
                <!-- <a style="color:black;" ng-style="{'cursor': 'pointer;}" ng-click="editDetails(dessert)"> {{dessert.user_email}} </a> -->
              </td>
              <td  style="text-align: center;" md-cell ng-if="dessert.is_blocked">Yes</td>
              <td  style="text-align: center;" md-cell ng-if="!dessert.is_blocked">No</td>
              <td style="text-align: center;"  md-cell><span>
                  <i class="material-icons"
                  ng-click="toggleRight('right',dessert.user_id, dessert.is_blocked,dessert.user_image,dessert.user_name,dessert.user_mobile,dessert.user_email,dessert.total_rides,dessert.last_login,dessert.total_rating_user,dessert)" style="font-size:38px;color:#757575">more_horiz</i>

              </td>

            </tr>
            </tbody>
          </table>
        </md-table-container>

 </md-content>



</div>





<!-- *********** Modal for confirm whether passenger is to be delete or not ********* -->

<script type="text/ng-template" id="display_msg_modalDialog">
  <div class="ngdialog-message">
    <h4>{{displaymsg}}</h4>
    <a type="submit" ng-click="refreshPage()" class="btn btn-mixColor" style="margin-top:20px;float:right;">OK</a>
    <div style="clear: both;"></div>
  </div>
</script>


<!-- *********** Modal for confirm whether passenger is to be delete or not ********* -->

<script type="text/ng-template" id="delete_passenger_modalDialog">
  <div class="ngdialog-message">
    <h4>Are you sure you want to delete  this passenger?</h4>
    <div style="margin-top: 20px;text-align: right;" >
      <form method="post" validate-form="" novalidate="">
        <button type="submit" ng-click="delete_passenger(delete_passenger_id)" class="btn btn-mixColor" >Yes</button>
        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
      </form>
    </div>
  </div>
</script>


<!-- ******************* Modal for block unblock driver ************************************ -->

<script type="text/ng-template" id="block_unblock_passenger_modalDialog">
  <div class="ngdialog-message">
    <h4>{{blockunblockmsg}}</h4>
    <div >
      <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
        <button type="submit" ng-click="do_block_unblock_passenger(is_blocked,blockunblockid)" class="btn btn-mixColor" >Yes</button>
        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
      </form>
    </div>
  </div>
</script>

<!-- ******************* Modal for change pass of customer  *************************** -->

<script type="text/ng-template" id="password_dialog">
  <div class="ngdialog-message">
    <h3>Change Password</h3>

    <div class="">
      <form method="post" name="myForm"   ng-submit="myForm.$submitted&&changeDriverPass(driver)">
        <div ng-show="driverpass.successMsg" class="alert alert-success text-center">{{driverpass.successMsg}}</div>
        <div ng-show="driverpass.errorMsg" class="alert alert-danger text-center">{{driverpass.errorMsg}}</div>
        <div class="">
          <div class="form-group">
            Password <span class="astrick">*</span>
            <input type="password" placeholder="Enter password" class="form-control"
                   ng-model="driver.password" required="required" data-parsley-minlength="6" id="driver_password" autocomplete="off" />
          </div>
          <div class="form-group">
            Confirm Password <span class="astrick">*</span>
            <input type="password" placeholder="Confirm password" class="form-control"
                   ng-model="driver.confirmpassword"  data-parsley-equalto ="#driver_password" required="required" />
          </div>
        </div>
        <div class="btn-align">
          <button type="submit" class="btn btn-mixColor" >Submit</button>
          <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor">Cancel</button>
        </div>
      </form>

    </div>
  </div>

</script>

<script type="text/ng-template" id="delete_user_modalDialog">
  <div class="ngdialog-message">
      <h4>Are you sure you want to delete this Passenger??</h4>
      <div  style="  margin-top: 20px;text-align: right;">
          <form method="post" validate-form="" novalidate="" id="approve-driver" >
              <button type="submit" ng-click="delete_user(delete_user_id)" class="btn btn-mixColor" >Yes</button>
              <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
          </form>
      </div>
  </div>
</script>