<style>
  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(48, 120, 205);
  }
  .margin25{
    padding-left: 25px;
  }
  table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 56px 0 0;
    padding-left: 25px;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <md-content laout="column" flex >
      <md-card>

        <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
          <div class="md-toolbar-tools">
            <span>LIST OF ALL PASSENGERS IN THE SYSTEM</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="filter.show = true">
              <md-icon style="color: #757575;">search</md-icon>
            </md-button>

          <!--  <md-button id="addPromo" class="md-raised md-primary" ui-sref="addPromo" style=" background-color: #3078cd; width: 186px; color:white">ADD PROMO CODE</md-button>-->
          </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length" aria-hidden="false" >
          <div class="md-toolbar-tools">
            <md-icon style="color: #757575;">search</md-icon>
            <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
              <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-valid ng-touched" aria-invalid="false">
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
              <md-icon style="color: #757575;">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
          </div>
        </md-toolbar>

        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <!--<th md-column md-order-by="user_id"><span>S.No</span></th>-->
              <th md-column  md-order-by="user_id" md-desc><span>Passenger ID</span></th>
              <th md-column md-order-by="user_name" ><span class="margin25">Passenger Details</span></th>
              <th md-column md-numeric  ><span>Profile Pic</span></th>

              <th md-column md-numeric md-order-by="total_rides"><span>Total Trips</span></th>
              <th md-column md-numeric md-order-by="total_rating_user"><span>Average Rating</span></th>
              <th md-column md-numeric md-order-by="last_login"><span>Last Login</span></th>
              <th md-column md-numeric ><span>Actions</span></th>

              <!--                            <th md-column md-numeric md-order-by="description" md-desc><span>Comments</span></th>-->
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
              <!--<td md-cell>{{dessert.user_id}}</td>-->
              <td md-cell>{{dessert.user_id}}</td>
              <td class="margin25" md-cell ><b>Name</b> -{{dessert.user_name}} <br><b>Email</b> - {{dessert.user_email}}<br><b>Contact</b> - {{dessert.user_mobile}}</td>
              <td md-cell><img class="img-circle img-thumbnail" style="height: 100px; width: 100px;" ng-src="{{dessert.user_image}}"></td>

              <td md-cell>{{dessert.total_rides}}</td>
              <td md-cell>{{dessert.total_rating_user}}</td>
              <td md-cell>{{dessert.last_login | date}}</td>
              <td md-cell><span>
                <md-icon style="color: #757575;"  ng-click="userDetails(dessert.user_id)" >info outline</md-icon>
                <md-icon style="color: #ff0000;" ng-show="dessert.is_blocked" ng-click="blockunblockpassenger_popup(0,dessert.user_id)">lock</md-icon>
                <md-icon style="color: #27c24c;" ng-hide="dessert.is_blocked" ng-click="blockunblockpassenger_popup(1,dessert.user_id)">lock_open</md-icon>
                <md-icon style="color: #757575;" ng-click="editUser(dessert)">edit</md-icon></span></td>
            </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    </md-content>
  </div>

</div>


  <!--
  <div class="row">
    <div class="col-md-6">
      <h3 style="color: white">
        Total : {{usersTotal}}
      </h3>
      &lt;!&ndash; Today : {{usersToday}} &ndash;&gt;
    </div>
    <div class="typeahead-demo col-lg-3 pull-right">
    <input type="text" ng-model="search" placeholder="Search by name" uib-typeahead="item as item.driver_name for item in totalList | filter:{driver_name:$viewValue} | limitTo:10"
    typeahead-on-select="openSearch($item, $model, $label, $event)" typeahead-loading="loadingSearch" style="color:white" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingSearch" class="ion-loop"></i>
    <div ng-show="noResults&&search">
      <i class="ion-android-close"></i> No Results Found
    </div>
  </div>
  <div style="margin-top:10px;clear: both;" class="col-lg-6 pull-right">
  <ul uib-pagination ng-if="totalItems!=0" total-items="totalItems" ng-change="pageChanged(currentPage)" items-per-page="itemsPerPage"
      ng-model="currentPage" max-size="maxSize" rotate="true"  class="pagination-sm pull-right"
      style="margin-bottom: 10px" boundary-links="true"></ul>
      </div>
    <div class="col-md-12">
      <div ba-panel style="padding-top: 30px" ba-panel-title="List of All Passengers in the System" ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
            <table id="datatablePassangers" class="table table-hover table-striped" style="width:100%">
              <thead>
              <tr>
                <th class="serialWidth">S.No</th>
                <th class="profileDetailsCell">Passenger Details</th>
                <th class="datetimewidth">Profile Pic</th>
                <th class="datetimewidth">Passenger ID</th>
                <th class="datetimewidth">Total Trips</th>
                <th class="datetimewidth">Average Rating</th>
                <th class="datetimewidth">Actions</th>
              </tr>
              </thead>
      <tbody>
      <tr  ng-repeat="data in list">
        <td class="serialWidth">{{((currentPage-1)*10)+$index+1}}</td>
        <td class="profileDetailsCell"><b>Name</b> - {{data.user_name}} <br>
          <b>Email</b> - {{data.user_email}}<br>
          <b>Contact</b> - {{data.user_mobile}}</td>
        <td class="datetimewidth">
          &lt;!&ndash; <img class="img-circle img-thumbnail" style="width:100px;height:100px;margin:auto" ng-src="{{data.user_image}}"> &ndash;&gt;
          <div fancybox fancybox-image="{{data.user_image}}" class="viewPicTable" fancybox-template="template.html">
            <img class="img-circle img-thumbnail" ng-src="{{data.user_image}}">
          </div>
        </td>
        <td class="datetimewidth">{{data.user_id}}</td>
        <td class="datetimewidth">{{data.total_rides}}</td>
        <td class="datetimewidth">{{data.average_rating.toFixed(2)}}</td>
        <td class="datetimewidth">
          <a class="btn btn-sm btn-default1" title="Details" ng-click="userDetails(data.user_id)">
            <i class="fa fa-info unblock-icon"></i>
          </a>
          &lt;!&ndash; data.is_blocked =0 means passenger is unblock do it block &ndash;&gt;
          <a class="btn btn-sm btn-default1" title="Block" style="background-color:rgba(0, 128, 0, 0.4);" ng-hide="data.is_blocked" ng-click="blockunblockpassenger_popup(1,data.user_id)">
            <i style="color:white" class="fa fa-unlock unblock-icon"></i>
          </a>
          <a class="btn btn-sm btn-default1" title="Edit" ng-click="editUser(data)">
              <i class="fa fa-pencil icon-css pencil-icon"></i>
          </a>
          <a class="btn btn-sm btn-defaul1t" style="background-color:rgba(255, 0, 0, 0.5);" title="Unblock" ng-show="data.is_blocked" ng-click="blockunblockpassenger_popup(0,data.user_id)">
            <i style="color:white" class="fa fa-lock block-icon"></i>
          </a>
          &lt;!&ndash; <a class="btn btn-sm btn-default1" ng-click="deletepassenger_popup(data.user_id)"
             title="Delete">
            <i class="fa fa-trash-o block-icon"></i>
          </a> &ndash;&gt;
          &lt;!&ndash; <a class="btn btn-sm btn-default1"
             title="Change Password">
            <i class="fa fa-asterisk pencil-icon" ng-click = "openPasswordDialog(data.user_id)"></i>
          </a> &ndash;&gt;
        </td>
      </tr>
      </tbody>

    </table>
  </div>
      </div>

    </div>




  </div>
  -->

&lt;!&ndash; ***************************************************************************
*********** Modal for confirm whether passenger is to be delete or not *********
********************************************************************************&ndash;&gt;
<script type="text/ng-template" id="display_msg_modalDialog">
  <div class="ngdialog-message">
    <h4>{{displaymsg}}</h4>
    <a type="submit" ng-click="refreshPage()" class="btn btn-mixColor" style="margin-top:20px;float:right;">OK</a>
    <div style="clear: both;"></div>
  </div>
</script>

&lt;!&ndash; ***************************************************************************
*********** Modal for confirm whether passenger is to be delete or not *********
********************************************************************************&ndash;&gt;
<script type="text/ng-template" id="delete_passenger_modalDialog">
  <div class="ngdialog-message">
    <h4>Are you sure you want to delete  this passenger?</h4>
    <div style="margin-top: 20px;text-align: right;" >
      <form method="post" validate-form="" novalidate="">
        <button type="submit" ng-click="delete_passenger(delete_passenger_id)" class="btn btn-mixColor" >Yes</button>
        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
      </form>
    </div>
  </div>
</script>

&lt;!&ndash; ***************************************************************************
******************* Modal for block unblock driver ************************************
********************************************************************************&ndash;&gt;
<script type="text/ng-template" id="block_unblock_passenger_modalDialog">
  <div class="ngdialog-message">
    <h4>{{blockunblockmsg}}</h4>
    <div >
      <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
        <button type="submit" ng-click="do_block_unblock_passenger(is_blocked,blockunblockid)" class="btn btn-mixColor" >Yes</button>
        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
      </form>
    </div>
  </div>
</script>
&lt;!&ndash; ***************************************************************************
******************* Modal for change pass of customer  ***************************
********************************************************************************&ndash;&gt;
<script type="text/ng-template" id="password_dialog">
  <div class="ngdialog-message">
    <h3>Change Password</h3>

    <div class="">
      <form method="post" name="myForm"   ng-submit="myForm.$submitted&&changeDriverPass(driver)">
        <div ng-show="driverpass.successMsg" class="alert alert-success text-center">{{driverpass.successMsg}}</div>
        <div ng-show="driverpass.errorMsg" class="alert alert-danger text-center">{{driverpass.errorMsg}}</div>
        <div class="">
          <div class="form-group">
            Password <span class="astrick">*</span>
            <input type="password" placeholder="Enter password" class="form-control"
                   ng-model="driver.password" required="required" data-parsley-minlength="6" id="driver_password" autocomplete="off" />
          </div>
          <div class="form-group">
            Confirm Password <span class="astrick">*</span>
            <input type="password" placeholder="Confirm password" class="form-control"
                   ng-model="driver.confirmpassword"  data-parsley-equalto ="#driver_password" required="required" />
          </div>
        </div>
        <div class="btn-align">
          <button type="submit" class="btn btn-mixColor" >Submit</button>
          <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor">Cancel</button>
        </div>
      </form>

    </div>
  </div>

</script>