<div class="row">
  <div class="col-md-12">
    <button ng-click="back()" class="btn btn-mixColor pull-right head_button">Back</button>
    <div ba-panel ba-panel-title="Passenger Details" ba-panel-class="with-scroll"  style="padding-top:50px">
        <div class="horizontal-scroll">
          <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
              <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 text-center" style="margin-bottom:15px">
                <div fancybox fancybox-image="{{user.user_image}}" class="viewPic" fancybox-template="template.html">
                  <img class="img-circle img-thumbnail" ng-src="{{user.user_image}}">
                </div>
                <a href="{{user.user_image}}" download="{{user.user_image}}"><i class="fa fa-download fa-2x"></i></a>
              </div>
              <div class="col-lg-8 col-xs-12 col-md-8 col-sm-8" style="margin-bottom:15px">
                <label>Name</label>
                <input ng-model="user.user_name" class="form-control" style="margin-bottom:15px">
                <label>Contact</label>
                <input ng-model="user.user_mobile" class="form-control" style="margin-bottom:15px">
                <label>Email</label>
                <input ng-model="user.user_email" class="form-control">
              </div>
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Total Rides</label>
                <input ng-model="totalRides" class="form-control">
              </div>
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Rides Cancelled</label>
                <input ng-model="user.total_cancel" class="form-control">
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Registration Date</label>
                <input ng-model="user.date_registered_formatted" class="form-control">
              </div>
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Last Login</label>
                <input ng-model="user.last_login_formatted" class="form-control">
              </div>
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Last Logout</label>
                <input ng-model="user.last_logout_formatted" class="form-control">
              </div>
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Referral Code</label>
                <input ng-model="user.referral_code" class="form-control">
              </div>
              <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                <label>Average Rating</label>
                <input ng-model="user.average_rating" class="form-control">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--<ul uib-pagination ng-if="totalItems!=0" total-items="totalItems" ng-change="pageChanged(currentPage)" items-per-page="itemsPerPage"-->
        <!--ng-model="currentPage" max-size="maxSize" rotate="true"  class="pagination-sm pull-right"-->
        <!--style="margin-bottom: 10px" boundary-links="true"></ul>-->
    <div style="text-align:center" ba-panel ba-panel-title="No Rides" ba-panel-class="with-scroll" ng-if="totalItems==0">
        <img src="assets/img/taxi/no_ride.svg"/>
    </div>







    <div class="row">
      <div class="col-md-12">
        <md-content laout="column" flex >
          <md-card>

            <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
              <div class="md-toolbar-tools">
                <span>LIST OF ALL RIDES</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="filter.show = true">
                  <md-icon style="color: #757575;">search</md-icon>
                </md-button>

                <!--  <md-button id="addPromo" class="md-raised md-primary" ui-sref="addPromo" style=" background-color: #3078cd; width: 186px; color:white">ADD PROMO CODE</md-button>-->
              </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length" aria-hidden="false" >
              <div class="md-toolbar-tools">
                <md-icon style="color: #757575;">search</md-icon>
                <form flex="" name="filter.form" class="ng-pristine ng-valid flex">
                  <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search" class="ng-pristine ng-valid ng-touched" aria-invalid="false">
                </form>
                <md-button class="md-icon-button" ng-click="removeFilter()">
                  <md-icon style="color: #757575;">close</md-icon>
                </md-button>
              </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
              <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
              </div>
            </md-toolbar>

            <md-table-container>
              <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                  <!-- <th md-column md-order-by="driver_id"><span>S.No</span></th>-->
                  <!--<th md-column  md-order-by="user_id" md-desc><span>User ID</span></th>-->
                  <th md-column md-order-by="user_name" ><span class="margin25">Driver Name</span></th>
                  <th md-column md-numeric md-order-by="car_name"><span>Car Details</span></th>
                  <th md-column md-numeric md-order-by="accept_date"><span>Date</span></th>

                  <th md-column md-numeric md-order-by="pickup_location_address" >Pickup Location</th>
                  <th md-column md-numeric md-order-by="start_time"><span>Pickup Time</span></th>
                  <th md-column md-numeric md-order-by="manual_destination_address" ><span class="margin25">Dropoff Location</span></th>

                  <th md-column md-numeric md-order-by="payment_date"><span>Payment Time</span></th>
                  <th md-column md-numeric md-order-by="driver_rating"><span>Driver Rating</span></th>
                  <th md-column md-numeric md-order-by="user_rating"><span>User Rating</span></th>

                  <th md-column md-numeric md-order-by="total_with_tax" ><span class="margin25">Fare Structure</span></th>
                  <th md-column md-numeric md-order-by="is_payment_successful"><span>Payment status</span></th>
                  <th md-column md-numeric md-order-by="ride_status_name" ><span>Ride status</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="driver" md-on-select="logItem" md-auto-select="options.autoSelect"  ng-repeat="driver in drivers.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                  <!--  <td md-cell>{{driver.driver_id}}</td>-->
                  <!-- <td md-cell>{{driver.driver_id}}</td>   <b>Name</b> -{{driver.user_name}} <br><b>Email</b> - {{driver.driver_email}}<br><b>Contact</b> - {{driver.driver_mobile}}-->
                  <td class="margin25" md-cell >{{driver.driver_name}} </td>
                  <td md-cell  style="padding-right:10px;     padding-left: 23px;    text-align: left;">
                    <b>Type</b> -{{driver.car_name}} <br>
                    <b> Car No. - {{driver.car_no}}</b>
                  </td>
                  <td md-cell>{{driver.accept_date | date:'MMM dd yyyy, hh:mm a'}}</td>

                  <td md-cell  style="padding-right:9px;">{{driver.pickup_location_address}}</td>
                  <td md-cell>{{driver.start_time | date:'MMM dd yyyy, hh:mm a'}}</td>
                  <td md-cell style="padding-right:9px;">{{driver.manual_destination_address}}</td>

                  <td md-cell>{{driver.payment_date | date:'MMM dd yyyy, hh:mm a'}}</td>
                  <td md-cell>{{driver.driver_rating}}</td>
                  <td md-cell>{{driver.user_rating}}</td>

                  <td md-cell style="padding-right:10px;  padding-left:30px;   text-align: left;">
                    <br>
                    <b>Total with Tax - </b>{{driver.total_with_tax}} <br>
                    <b>Calculated - </b>{{driver.fare_calculated}} <br>
                    <b>Fare fare_factor - </b>{{driver.fare_factor}} <br>
                    <b>Base - </b>{{driver.fare_fixed}}<br>
                    <b>Per Km - </b>{{driver.fare_per_km}}<br>
                    <b>Per min - </b>{{driver.fare_per_min}}<br>
                    <b>Sales Tax - </b>{{driver.sales_tax}}<br>
                    <b>Time Fare - </b>{{driver.time_fare}}<br>
                    <b>Distance Fare - </b>{{driver.distance_fare}}<br>
                    <b>Discount - </b>{{driver.discount}}<br>
                    <b>Black Car Fund - </b>{{driver.black_car_fund}}<br>
                    <br>
                  </td>
                  <td md-cell><span ng-if="driver.is_payment_successful==0">Unsuccessful</span>  <span ng-if="driver.is_payment_successful==1">Successful</span></td>
                  <td md-cell>
                    <span ng-if="driver.ride_status==0">Assigning</span>
                    <span ng-if="driver.ride_status==1">Accepted</span>
                    <span ng-if="driver.ride_status==2">Arrived</span>
                    <span ng-if="driver.ride_status==3">Started</span>
                    <span ng-if="driver.ride_status==4">Completed</span>
                    <span ng-if="driver.ride_status==5">Cancelled By Driver</span>
                    <span ng-if="driver.ride_status==6">Ride Cancelled By User</span>
                    <span ng-if="driver.ride_status==7">Request Cancelled By User</span>
                  </td>

                  <!-- <td md-cell>{{driver.last_logout}}</td>-->
                  <!--                            <td md-cell>
                                                  <div ng-if="driver.is_available === 1" class="fa fa-circle online">
                                                  </div>
                                                  <div ng-if="driver.is_available === 0" class="fa fa-circle offline"></div>
                                              </td>

                                              <td md-cell><span>
                                                  <md-icon style="color: #757575;"  ng-click="driverDetails(driver.driver_id)" >info outline</md-icon>
                                                  <md-icon style="color: #ff0000;" ng-show="driver.is_blocked" ng-click="blockunblockdriver_popup(0,driver.driver_id)">lock</md-icon>
                                                  <md-icon style="color: #27c24c;" ng-hide="driver.is_blocked" ng-click="blockunblockdriver_popup(1,driver.driver_id)">lock_open</md-icon>
                                                  <md-icon style="color: #757575;" ng-click="editDriver(driver)">edit</md-icon></span></td>-->
                </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{drivers.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
          </md-card>
        </md-content>
      </div>

    </div>



































    <!--<div style="padding-top: 50px; " ba-panel ba-panel-title="List of All Rides" ba-panel-class="with-scroll" ng-if="totalItems!=0">-->
        <!--<div class="horizontal-scroll">-->
          <!--<table id="datatableUserRides" class="table table-striped table-hover" ng-class="{'whirl duo' : showloader }" style="width:100%">-->
              <!--<thead>-->
              <!--<tr>-->
                  <!--<th class="datetimewidth">S.No.</th>-->
                  <!--<th class="datetimewidth">Session ID</th>-->
                  <!--<th class="datetimewidth">Date</th>-->
                  <!--<th style="width:240px!important">Driver Details</th>-->
                  <!--<th style="width:240px!important">Car Details</th>-->
                  <!--<th class="datetimewidth">Pick Up Location</th>-->
                  <!--<th class="datetimewidth">Pick Up Time</th>-->
                  <!--<th class="datetimewidth">Drop off Location</th>-->
                  <!--<th class="datetimewidth">Drop off Time</th>-->
                  <!--<th class="datetimewidth">Driver Rating</th>-->
                  <!--<th class="datetimewidth">User Rating</th>-->
                  <!--<th class="datetimewidth">Fare Structure</th>-->
                  <!--<th class="datetimewidth">Payment Status</th>-->
                  <!--<th class="datetimewidth">Ride Status</th>-->
                  <!--&lt;!&ndash; <th class="datetimewidth">Action</th> &ndash;&gt;-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
                <!--<tr ng-repeat="data in userRideList">-->
                  <!--<td class="datetimewidth">{{$index+1}}</td>-->
                  <!--<td class="datetimewidth">{{data.session_id}}</td>-->
                  <!--<td class="datetimewidth">{{data.accept_time|date:'MMM dd yyyy, hh:mm a'}}</td>-->
                  <!--<td class="datetimewidth" ng-if="data.driver_name!=null">-->
                      <!--<b>Name - </b>-->
                      <!--{{data.driver_name}}-->
                      <!--<br>-->
                      <!--<b ng-if="!data.driver_mobile&&data.driver_mobile!=null">Contact - </b>-->
                      <!--{{data.driver_mobile}}<br>-->
                      <!--&lt;!&ndash; <img class="img-circle img-thumbnail" style="width:100px;height:100px;margin:auto" ng-src="{{data.driver_image}}"> &ndash;&gt;-->
                  <!--</td>-->
                  <!--<td class="datetimewidth" ng-if="data.driver_name==null">N/A</td>-->
                  <!--<td class="datetimewidth">-->
                      <!--<b>Type - </b>-->
                      <!--{{data.car_name}}-->
                      <!--<br>-->
                      <!--<b ng-if="!data.car_no&&data.car_no!=null">Number - </b>-->
                      <!--{{data.car_no}}<br>-->
                      <!--&lt;!&ndash; <img class="img-circle img-thumbnail" style="width:100px;height:100px;margin:auto" ng-src="{{data.car_image}}"> &ndash;&gt;-->
                  <!--</td>-->
                  <!--<td class="datetimewidth">{{data.pickup_location_address}}</td>-->
                  <!--<td class="datetimewidth" ng-if="data.start_time!=null">{{data.start_time|date:'MMM dd yyyy, hh:mm a'}}</td>-->
                  <!--<td class="datetimewidth" ng-if="data.start_time==null">N/A</td>-->
                  <!--<td class="datetimewidth">{{data.manual_destination_address}}</td>-->
                  <!--<td class="datetimewidth" ng-if="data.drop_time!=null">{{data.start_time|date:'MMM dd yyyy, hh:mm a'}}</td>-->
                  <!--<td class="datetimewidth" ng-if="data.drop_time==null">N/A</td>-->
                  <!--<td class="datetimewidth" ng-if="data.driver_rating!=-1">{{data.driver_rating}}</td>-->
                  <!--<td class="datetimewidth" ng-if="data.driver_rating==-1">N/A</td>-->
                  <!--<td class="datetimewidth" ng-if="data.user_rating==-1">N/A</td>-->
                  <!--<td class="datetimewidth" ng-if="data.user_rating!=-1">{{data.user_rating}}</td>-->
                  <!--<td class="fareDetailsCell">-->

                    <!--<b>Total with Tax - </b>{{data.total_with_tax}} <br>-->
                    <!--<b>Calculated - </b>{{data.fare_calculated}} <br>-->
                    <!--<b>Fare fare_factor - </b>{{data.fare_factor}} <br>-->
                    <!--<b>Base - </b>{{data.fare_fixed}}<br>-->
                    <!--<b>Per Km - </b>{{data.fare_per_km}}<br>-->
                    <!--<b>Per min - </b>{{data.fare_per_min}}<br>-->
                    <!--<b>Sales Tax - </b>{{data.sales_tax}}<br>-->
                    <!--<b>Time Fare - </b>{{data.time_fare}}<br>-->
                    <!--<b>Distance Fare - </b>{{data.distance_fare}}<br>-->
                    <!--<b>Discount - </b>{{data.discount}}<br>-->
                    <!--<b>Black Car Fund - </b>{{data.black_car_fund}}<br>-->

                  <!--</td>-->
                  <!--<td class="datetimewidth" ng-if="data.is_payment_successful==0">Unsuccessful</td>-->
                  <!--<td class="datetimewidth" ng-if="data.is_payment_successful==1">Successful</td>-->
                  <!--<td class="datetimewidth">{{data.ride_status_name}}</td>-->
                <!--</tr>-->

              <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
    <!--</div>-->






  </div>



  <!-- ***************************************************************************
  *********** Modal for confirm whether passenger is to be delete or not *********
  ********************************************************************************-->
  <script type="text/ng-template" id="display_msg_modalDialog">
    <div class="ngdialog-message">
      <h4>{{displaymsg}}</h4>
      <a type="submit" ng-click="refreshPage()" class="btn btn-mixColor" style="margin-top:20px;float:right;">OK</a>
      <div style="clear: both;"></div>
    </div>
  </script>

  <!-- ***************************************************************************
  *********** Modal for confirm whether passenger is to be delete or not *********
  ********************************************************************************-->
  <script type="text/ng-template" id="delete_passenger_modalDialog">
    <div class="ngdialog-message">
      <h4>Are you sure you want to delete  this passenger?</h4>
      <div style="margin-top: 20px;text-align: right;" >
        <form method="post" validate-form="" novalidate="">
          <button type="submit" ng-click="delete_passenger(delete_passenger_id)" class="btn btn-mixColor" >Yes</button>
          <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
        </form>
      </div>
    </div>
  </script>

  <!-- ***************************************************************************
  ******************* Modal for block unblock driver ************************************
  ********************************************************************************-->
  <script type="text/ng-template" id="block_unblock_passenger_modalDialog">
    <div class="ngdialog-message">
      <h4>{{blockunblockmsg}}</h4>
      <div >
        <form method="post" validate-form="" novalidate="" style="text-align: right;margin-top: 20px;">
          <button type="submit" ng-click="do_block_unblock_passenger(is_blocked,blockunblockid)" class="btn btn-mixColor" >Yes</button>
          <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor" style='margin-left:20px;'>No</button>
        </form>
      </div>
    </div>
  </script>
  <!-- ***************************************************************************
  ******************* Modal for change pass of customer  ***************************
  ********************************************************************************-->
  <script type="text/ng-template" id="password_dialog">
    <div class="ngdialog-message">
      <h3>Change Password</h3>

      <div class="">
        <form method="post" name="myForm"   ng-submit="myForm.$submitted&&changeDriverPass(driver)">
          <div ng-show="driverpass.successMsg" class="alert alert-success text-center">{{driverpass.successMsg}}</div>
          <div ng-show="driverpass.errorMsg" class="alert alert-danger text-center">{{driverpass.errorMsg}}</div>
          <div class="">
            <div class="form-group">
              Password <span class="astrick">*</span>
              <input type="password" placeholder="Enter password" class="form-control"
                     ng-model="driver.password" required="required" data-parsley-minlength="6" id="driver_password" autocomplete="off" />
            </div>
            <div class="form-group">
              Confirm Password <span class="astrick">*</span>
              <input type="password" placeholder="Confirm password" class="form-control"
                     ng-model="driver.confirmpassword"  data-parsley-equalto ="#driver_password" required="required" />
            </div>
          </div>
          <div class="btn-align">
            <button type="submit" class="btn btn-mixColor" >Submit</button>
            <button type="button" ng-click="closeThisDialog(0)" class="btn btn-mixColor">Cancel</button>
          </div>
        </form>

      </div>
    </div>

  </script>

</div>
